services:
  app:
    build:  .
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment: 
      - MONGODB_URI=mongodb://mongo:27017
    restart: unless-stopped

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes: 
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data: