<%- include('../partials/header') %>

<h1>register</h1>
<magicform action="/api/register" method="POST" onresponse="loginResponse">
    <input type="text" id="handle" name="handle" placeholder="handle" required>
    <input type="password" id="password" name="password" placeholder="password" required>
    <input type="password" id="password-confirm" placeholder="confirm your password" required>
    <button type="submit" id="form-submit" class="align-center" disabled>yeehaw</button>
    <p id="form-errors"></p>
</magicform>

<%- include('../partials/footer') %>