<%- include('../partials/header') %>

<form action="/register" method="post">
    <input type="text" name="handle" placeholder="handle" required>
    <input type="password" name="password" placeholder="password">
    <button type="submit">yeehaw</button>
</form>
<a href="/login">horse in...</a>

<%- include('../partials/footer') %>