<%- include('../partials/header') %>

<magicform action="/api/login" method="POST" onresponse="loginResponse">
    <input type="text" name="handle" placeholder="handle">
    <input type="password" name="password" placeholder="password">
    <button type="submit" id="form-submit">horse in...</button>
    <p id="form-errors"></p>
</magicform>

<%- include('../partials/footer') %>