<%- include('../partials/header') %>

<form action="/login" method="POST">
    <input type="text" name="handle" placeholder="handle" required>
    <input type="password" name="password" placeholder="password">
    <button type="submit">horse in...</button>
</form>

<%- include('../partials/footer') %>