<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/main.css">

    <script type="importmap">
        {
            "imports": {
                "preact": "https://esm.sh/preact@10.23.1",
                "htm/preact": "https://esm.sh/htm@3.1.1/preact?external=preact"
            }
        }
    </script>
    <script type="module" src="/scripts/magicforms.js"></script>
    <script type="module" src="/scripts/render.js"></script>
    <title>the horse social network</title>
</head>
<body>
<a href="/"><img src="/logo_mini.png" alt="horse" height="48"></a>