<div class="post-form">
<magicform action="/api/post/new" method="POST" onresponse="refresh">
    <textarea name="content" cols="30" rows="6" placeholder="your thoughts here..."></textarea>
    <button type="submit">post</button>
</magicform>
</div>