<div class="post-form">
<magicform action="/api/post/new" method="POST" onresponse="refresh">
    <textarea name="content" placeholder="your thoughts here..."></textarea>
    <button class="button-filled" type="submit">post</button>
</magicform>
</div>