<div class="post-form">
<magicform action="/api/post/<%= postData.post._id %>/reply" method="POST" onresponse="refresh">
    <textarea name="content" placeholder="reply to @<%= postData.user.handle %>"></textarea>
    <button class="button-filled" type="submit">reply!</button>
</magicform>
</div>