@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text: #ecebdf;
    --text-alt: hsl(0, 31%, 30%);
    --bg: #110909;
    --bg-alt: hsl(0, 31%, 10%);
    --primary: #d7d0a2;
    --secondary: #327632;
    --accent: #70c289;
    --danger: #ff4e4e;
}

body {
    background-color: var(--bg);
    color: var(--text);
    color-scheme: dark;

    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 16px;
}

h1,
h2 {
    font-family: "Instrument Serif", serif;
    font-style: italic;
}

nav {
    max-width: 80rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
}

nav h1 {
    font-size: 90px;
    margin: 0;
}

.nav-right {
    min-width: fit-content;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

main {
    max-width: 60rem;
    width: 60%;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--secondary)
}

.post {
    font-size: 20px;
    padding: 0.5rem 1rem 0.25rem 1rem;
    border-inline: 2px solid var(--secondary);
    background-color: var(--bg-alt);
    color: var(--text);
}

.post-mini {
    padding: 0.25rem 1rem;
    border-inline: 2px solid var(--secondary);
    background-color: var(--bg);
    color: var(--text);
    margin-block: 1rem;
}

.post-mini:hover {
    background-color: var(--bg-alt);
}

magicform {
    width: 100%;
    display: flex;
    flex-direction: column;
}

magicform>button {
    width: fit-content;
    margin-block: 0.25rem;
}

.post-form {
    margin-block: 1rem;
    width: 100%;
}

.post-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-block: 0.25rem;
    gap: 0.5rem;
}

.post-actions>* {
    width: fit-content;
}

.post-form textarea {
    width: 100%;
    height: 10rem;
    padding: 1rem;

    font-size: 16px;

    font-family: "Noto Serif", serif;
    border: 1px solid var(--secondary);

    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--bg-alt);
    color: var(--text);
    resize: none;
    outline: none;
}

textarea:focus {
    border-color: var(--accent);
}

#form-errors {
    color: var(--danger)
}

input {
    outline: none;
    border: none;
    border-radius: 0.25rem;
    border-left: 2px solid var(--secondary);
    background-color: var(--bg-alt);

    padding: 0.5rem 1rem;
    margin: 0.25rem;
    font-family: "Noto Serif", serif;
}

button {
    font-family: "Noto Serif", serif;
    background-color: var(--bg);
    border: 1px solid var(--secondary);
    color: var(--text);
    padding: 0.5rem 1rem;
    font-size: large;
    border-radius: 0.5rem;
}

button:disabled {
    background-color: var(--bg);
    border: 1px solid var(--bg-alt);
    color: var(--text-alt);
}

button.button-filled {
    background-color: var(--secondary);
    color: var(--text);
}

button.button-danger {
    border: 1px solid var(--danger);
    color: var(--danger);
}

footer {
    font-family: "Instrument Serif", serif;
    font-weight: 600;
    font-style: italic;
    opacity: 50%;
    font-size: 16px;
    text-align: center;
}

.huge-text {
    font-family: "Instrument Serif", serif;
    font-weight: 600;
    font-style: italic;
    opacity: 70%;
    font-size: 250px;
    text-align: center;
    margin-bottom: 30rem;
}

.huge-text>* {
    margin: 0;
}

.huge-text p {
    font-size: 50px;
    opacity: 50%;
}

/* ========= */

.align-center {
    align-self: center;
}

.align-end {
    align-self: flex-end;
}

.align-start {
    align-self: flex-start;
}