:root {
    --text: #ecebdf;
    --bg: #110909;
    --bg-alt: hsl(0, 31%, 10%);
    --primary: #d7d0a2;
    --secondary: #327632;
    --accent: #70c289;
}

body {
    background-color: var(--bg);
    color: var(--text);
    color-scheme: dark;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--secondary)
}

.post {
    background-color: var(--bg);
    border: 1px solid var(--secondary);
}

.post-mini {
    padding: 0.25em 1em;
    border-inline: 2px solid var(--secondary);
    background-color: var(--bg);
    color: var(--text);
}

.post-mini:hover {
    background-color: var(--bg-alt);
}

.post-form {
    border: 1px solid var(--secondary);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;

    font-size: 16px;

    font-family: 'Arial', sans-serif;
    border: 1px solid var(--secondary);

    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--bg);
    color: var(--text);
    resize: vertical;
    outline: none;
    transition: border-color 0.2s ease;
}

textarea:focus {
    border-color: var(--accent);
}

#form-errors {
    color: rgb(255, 78, 78);
}