@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

:root {
    --text: #ecebdf;
    --bg: #110909;
    --bg-alt: hsl(0, 31%, 10%);
    --primary: #d7d0a2;
    --secondary: #327632;
    --accent: #70c289;
    --danger: #ff4e4e;

}

body {
    background-color: var(--bg);
    color: var(--text);
    color-scheme: dark;
}

nav {
    max-width: 80rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
}

nav h1 {
    font-size: 90px;
    margin: 0;
}

.nav-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    max-width: 60rem;
    width: 60%;
    margin: 0 auto;
}

.profile-header {
    margin-block: 1rem;
}


a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--secondary)
}

.post {
    background-color: var(--bg);
    border: 1px solid var(--secondary);
}

.post-mini {
    padding: 0.25em 1em;
    border-inline: 2px solid var(--secondary);
    background-color: var(--bg);
    color: var(--text);
}

.post-mini:hover {
    background-color: var(--bg-alt);

}

.post-form {
    margin-block: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.post-form textarea {
    width: 100%;
    height: 10rem;
    padding: 1rem;

    font-size: 16px;

    font-family: 'Arial', sans-serif;
    border: 1px solid var(--secondary);

    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--bg);
    color: var(--text);
    resize: none;
    outline: none;
}

textarea:focus {
    border-color: var(--accent);
}

#form-errors {
    color: var(--danger)
}

button {
    background-color: var(--bg);
    border: 1px solid var(--secondary);
    color: var(--text);
    padding: 0.5rem 1rem;
    font-size: large;
    border-radius: 1rem;
}

button.button-filled {
    background-color: var(--secondary);
    color: var(--text);
}


button.button-danger {
    border: 1px solid var(--danger);
    color: var(--danger);
}